
<div class="flex items-center justify-between gap-4 mb-6">
    <!-- Barre de recherche modernisée -->
    <div class="relative flex-grow max-w-xl">
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </div>
      <input type="text"
            [(ngModel)]="searchReference" 
            (input)=" searchWaitinglistByReference() "      
              
             class="block w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg bg-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all"
             placeholder="Search booking by reference">
    </div>
  
    
  
</div>
  
  
  
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Reference</th>
       <th scope="col">request time</th>
        <th scope="col">requested passes</th>
        <th scope="col">Client Name</th>
        <th scope="col">Event title</th>
   
        
       
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let waiting of waiting">
        <td class="text-green-600">
          {{ waiting.reference }}
        </td>
        <td>{{ waiting.requestTime | date: 'short' }}</td>
        <td>{{ waiting.requestedPasses }}</td>
        <td>{{ waiting.user?.username }}</td>
        <td>{{ waiting.event?.title}}</td>
        

      </tr>
    </tbody>
  </table>
  