<div [ngClass]="{ 'dark text-white-dark': store.semidark }">
    <nav
        class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300">
        <div class="h-full bg-white dark:bg-[#0e1726]">
            <div class="flex items-center justify-between px-4 py-3">
                <a routerLink="/" class="main-logo flex shrink-0 items-center">
                    <img class="ml-[5px] w-8 flex-none" width="200" src="/assets/fruitkha-1.0.0/assets/img/fallahi.png" alt="" />
                    <span class="align-middle text-2xl font-semibold ltr:ml-1.5 rtl:mr-1.5 dark:text-white-light lg:inline">Fallehi.tn</span>
                </a>
                <a href="javascript:;"
                    class="collapse-icon flex h-8 w-8 items-center rounded-full transition duration-300 hover:bg-gray-500/10 hover:text-primary rtl:rotate-180 dark:text-white-light dark:hover:bg-dark-light/10"
                    (click)="storeData.dispatch({ type: 'toggleSidebar'})">
                    <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>
          
            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
                <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('Dashboard') }"
                            (click)="toggleAccordion('Dashboard')"
                            routerLink="dashboardAdmin">
                            <div class="flex items-center">
                                <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                <span
                                    class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">
                                    {{ 'Dashboard' | translate }}
                                </span>
                            </div>
                          
                        </button>
                     
                        <div [@slideDownUp]="!activeDropdown.includes('User')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li>
                                    <a routerLink="dashboardAdmin" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'My profile' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                            
                    </li>
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('admin') }"
                            (click)="toggleAccordion('admin')">
                            <div class="flex items-center">
                                <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                <span
                                    class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">
                                    {{ 'Users' | translate }}
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('admin') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('admin')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li>
                                    <a routerLink="/manage-students" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Students' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/admin/students" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Validate students' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/manage-supervisors" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Supervisors' | translate }}</a>
                                </li>
                             
                            </ul>
                        </div>
                            
                    </li>
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('Deliveries') }"
                            (click)="toggleAccordion('Deliveries')">
                            <div class="flex items-center">
                                <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                <span
                                    class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">
                                    {{ 'Deliveries' | translate }}
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('Deliveries') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('Deliveries')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li>
                                    <a routerLink="deliveriesAdmin" (click)="toggleMobileMenu()">{{ 'View Deliveries' | translate }}</a>
                                </li>
                              
                            </ul>
                        </div>
                            
                    </li>
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('items') }"
                            (click)="toggleAccordion('items')">
                            <div class="flex items-center">
                                <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                <span
                                    class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">
                                    {{ 'Items' | translate }}
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('items') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('items')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li>
                                    <a routerLink="/profile" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Profile' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/resume" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Upload Resume' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/myInternships" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Internships' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                            
                    </li>
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('events') }"
                            (click)="toggleAccordion('events')">
                            <div class="flex items-center">
                                <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                <span
                                    class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">
                                    {{ 'Events' | translate }}
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('events') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('events')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li>
                                    <a routerLink="/profile" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Profile' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/resume" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Upload Resume' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/myInternships" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Internships' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                            
                    </li>
                    <li class="accordion menu nav-item">
                        <button type="button" class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('orders') }"
                            (click)="toggleAccordion('orders')">
                            <div class="flex items-center">
                                <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                <span
                                    class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">
                                    {{ 'Orders' | translate }}
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('company') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('orders')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li>
                                    <a routerLink="order" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'view orders' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                            
                    </li>
                    <h2
                        class="-mx-4 mb-1 flex items-center bg-white-light/30 px-7 py-3 font-extrabold uppercase dark:bg-dark dark:bg-opacity-[0.08]">
                        <icon-minus class="hidden h-5 w-4 flex-none" />
                        <span>{{ ('General' | translate) || '&nbsp;' }}</span>
                        
                    </h2>

                    <ul class="sub-menu text-gray-500">
                        <li>
                            <a routerLink="/supervisor/chat" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Chat' | translate }}</a>
                        </li>
                        <li>
                            <a routerLink="/supervisor/students" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Grades' | translate }}</a>
                        </li>
                        <li>
                            <a routerLink="/forum" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Forum' | translate }}</a>
                        </li>
                        <li>
                            <a routerLink="/" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'Workshops' | translate }}</a>
                        </li>
                    </ul>








                </ul>
            </ng-scrollbar>
            

        </div>
    </nav>
</div>
