<div>

    <div class=" bottom-0 w-full p-4 ltr:left-0 rtl:right-0 flex items-center">
        <button class="btn btn-primary " type="button" (click)="editNote()" >
            <icon-plus class="h-5 w-5 shrink-0 ltr:mr-2 rtl:ml-2" />
            Add New Post
        </button>
        <div class="flex flex-col gap-2 w-1/2 items-center ml-auto">
            <p class="">"{{ quote }}"</p>
            <button class="btn btn-primary w-1/3"  type="button"(click)="getQuote()">Get Quote</button>
          </div>
    </div>
    <div class="relative flex h-full gap-5 sm:h-[calc(100vh_-_150px)]">
        <div
            class="absolute z-10 hidden h-full w-full rounded-md bg-black/60"
            [ngClass]="{ '!block xl:!hidden': isShowNoteMenu }"
            (click)="isShowNoteMenu = !isShowNoteMenu"
        ></div>


        <div class="panel h-full flex-1 ">

            <ng-container *ngIf="!postsList.length">
                <div class="flex h-full min-h-[400px] items-center justify-center text-lg font-semibold sm:min-h-[300px]">No posts available</div>
            </ng-container>
            <ng-container *ngIf="postsList.length">
                <div class="min-h-[400px] sm:min-h-[300px] max-h-[600px]">
                    <div class="flex flex-col gap-5 ">
                        <ng-container *ngFor="let post of postsList" >
                            <div
                                class="panel pb-12  w-7/8 "

                            >
                                <div class="">
                                    <div class="flex justify-between ">
                                        <div class="flex w-max items-center">
                                            <div class="flex-none">
                                                <div *ngIf="post.thumb" class="rounded-full bg-gray-300 p-0.5 dark:bg-gray-700">
                                                    <img class="h-8 w-8 rounded-full object-cover" [src]="'/assets/images/' + post.thumb" />
                                                </div>
                                                <div
                                                    *ngIf="!post.thumb && post.user"
                                                    class="grid h-8 w-8 place-content-center rounded-full bg-gray-300 text-sm font-semibold dark:bg-gray-700"
                                                >
                                                    {{ post.user.charAt(0) + post.user.charAt(post.user.indexOf(' ') + 1) }}
                                                </div>
                                                <div
                                                    *ngIf="!post.thumb && !post.user"
                                                    class="grid h-8 w-8 place-content-center rounded-full bg-gray-300 dark:bg-gray-700"
                                                >
                                                    <icon-user class="h-4.5 w-4.5" />
                                                </div>
                                            </div>
                                            <div class="ltr:ml-2 rtl:mr-2">
                                                <div class="font-semibold">Bacem jaza</div>
                                                <div class="text-sx text-white-dark">{{ post.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
                                            </div>
                                        </div>
                                        <div hlMenu class="dropdown">
                                            <button hlMenuButton type="button" class="text-primary">
                                                <icon-horizontal-dots class="rotate-90 opacity-70 hover:opacity-100" />
                                            </button>
                                            <ul *hlMenuItems @toggleAnimation class="text-sm font-medium ltr:right-0 rtl:left-0">
                                                <li>
                                                    <a href="javascript:;" class="w-full" *hlMenuItem="let menuItem" (click)="editPost(post)">
                                                        <icon-pencil class="h-4 w-4 shrink-0 ltr:mr-3 rtl:ml-3" />

                                                        Edit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="w-full" *hlMenuItem="let menuItem" (click)="deletePost(post.id)">
                                                        <icon-trash-lines class="h-4.5 w-4.5 shrink-0 ltr:mr-3 rtl:ml-3" />
                                                        Delete
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="w-full" *hlMenuItem="let menuItem" (click)="viewNote(post)">
                                                        <icon-eye class="h-4.5 w-4.5 shrink-0 ltr:mr-3 rtl:ml-3" />

                                                        View
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <h4 class="mt-4 font-semibold">{{ post.content }}</h4>

                                        <img *ngIf="post.image" [src]="'assets/images/uploads/' + post.image" alt="Post Image" class="mt-4 max-h-[500px] rounded  ">

                                    </div>
                                </div>
                                <div class="absolute bottom-5 left-0 w-full px-5">
                                    <div class="mt-2 flex items-center justify-between">
                                        <div hlMenu class="dropdown flex gap-5 items-center ">

                                            <div class="reaction-button" (mouseenter)="postShowReactions[post.id] = true" (mouseleave)="postShowReactions[post.id] = false">
                                                <div class="flex gap-1 items-center -mb-2">
                                                    <button (click)="toggleReactions(post.id, $event)">
                                                        <i [class]="getReactionIconClass(post.id)" [style.color]="getReactionColor(post.id)"></i>
                                                    </button>

                                                    <p>{{ postReactionCounts[post.id] || 0 }}</p>

                                                </div>
                                                <ul class="reaction-options flex gap-4 " *ngIf="postShowReactions[post.id]">
                                                    <button (click)="reactToPost(post.id, 2, 'LIKE')"><i class="fa-solid fa-thumbs-up text-lg" style="color: #0d14de;"></i></button>
                                                    <button (click)="reactToPost(post.id, 2, 'LOVE')"><i class="fa-solid fa-heart text-lg" style="color: #ff0000;"></i></button>
                                                    <button (click)="reactToPost(post.id, 2, 'SUPPORT')"><i class="fa-solid fa-face-smile-beam text-lg" style="color: #FFD43B;"></i></button>
                                                    <button (click)="reactToPost(post.id, 2, 'ANGRY')"><i class="fa-solid fa-face-angry text-lg" style="color: #FFD43B;"></i></button>
                                                    <button (click)="reactToPost(post.id, 2, 'SAD')"><i class="fa-solid fa-face-frown text-lg" style="color: #FFD43B;"></i></button>
                                                </ul>
                                            </div>
                                            <button class="-mb-2" (click)="showPostComments(post.id)">Comments</button>
                                            <button class="-mb-2"  (click)="openAddCommentModal(post.id)" >Add a comment</button>


                                        </div>
                                        <div class="flex items-center">
                                            <!--<button type="button" class="text-danger" (click)="deleteNoteConfirm(post)">
                                                <icon-trash-lines />
                                            </button>
                                            <button type="button" class="group text-warning ltr:ml-2 rtl:mr-2" (click)="setFav(post)">
                                                <icon-star [class]="'h-4.5 w-4.5 group-hover:fill-warning ' + [post.isFav ? 'fill-warning' : ''  ]" />
                                            </button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>

            <modal #isAddNoteModal class="no-footer">
                <ng-template #modalHeader>
                    <div class="!font-medium">{{ postParams.value.id ? 'Edit Post' : 'Add Post' }}</div>
                </ng-template>
                <ng-template #modalBody>
                    <form [formGroup]="postParams" (submit)="savePost()" class="text-sm">
                        <div class="mb-5">
                            <label for="content">Content</label>
                            <textarea id="content" rows="3" class="form-textarea min-h-[130px] resize-none" placeholder="Enter Content" formControlName="content"></textarea>
                        </div>

                        <div class="mb-5">
                            <label for="image">Image</label>
                            <input id="image" type="file" accept="image/*" class="form-input" (change)="onImageSelected($event)" />
                        </div>

                        <div class="mt-8 flex items-center justify-end">
                            <button type="button" class="btn btn-outline-danger gap-2" (click)="isAddNoteModal.close()">Cancel</button>
                            <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">{{ postParams.value.id ? 'Update Post' : 'Add Post' }}</button>
                        </div>
                    </form>
                </ng-template>
            </modal>
            <modal #isAddCommentModal class="no-footer">
                <ng-template #modalHeader>
                    <div class="!font-medium">{{ commentParams.value.id ? 'Edit Comment' : 'Add Comment' }}</div>
                </ng-template>
                <ng-template #modalBody>
                    <form [formGroup]="commentParams" (submit)="saveComment(selectedPostId)" class="text-sm">
                        <div class="mb-5">
                            <label for="content">Content</label>
                            <textarea id="content" rows="3" class="form-textarea min-h-[130px] resize-none" placeholder="Enter Content" formControlName="content"></textarea>
                        </div>
                        <div class="mt-8 flex items-center justify-end">
                            <button type="button" class="btn btn-outline-danger gap-2" (click)="isAddNoteModal.close()">Cancel</button>
                            <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">{{ commentParams.value.id ? 'Update Comment' : 'Add Comment' }}</button>
                        </div>
                    </form>
                </ng-template>
            </modal>
            <modal #isDeleteNoteModal class="no-footer">
                <ng-template #modalHeader>
                    <div class="!font-medium">Delete Notes</div>
                </ng-template>
                <ng-template #modalBody>
                    <div class="text-center text-sm">
                        <div class="mx-auto w-fit rounded-full bg-danger p-4 text-white ring-4 ring-danger/30">
                            <icon-trash-lines class="mx-auto h-7 w-7" />
                        </div>
                        <div class="mx-auto mt-5 sm:w-3/4">Are you sure you want to delete Notes?</div>

                        <div class="mt-8 flex items-center justify-center">
                            <button type="button" class="btn btn-outline-danger" (click)="isDeleteNoteModal.close()">Cancel</button>
                            <button type="button" class="btn btn-primary ltr:ml-4 rtl:mr-4" (click)="deleteNote()">Delete</button>
                        </div>
                    </div>
                </ng-template>
            </modal>

            <modal #isViewNoteModal class="no-footer">
                <ng-template #modalHeader>
                    <div class="flex flex-wrap items-center gap-3 !font-medium">
                        <div>{{ selectedNote.title }}</div>
                        <button
                            *ngIf="selectedNote.tag"
                            type="button"
                            class="badge badge-outline-primary rounded-3xl capitalize"
                            [ngClass]="{'shadow-primary': selectedNote.tag === 'personal',
                                                    'shadow-warning': selectedNote.tag === 'work',
                                                    'shadow-info': selectedNote.tag === 'social',
                                                    'shadow-danger': selectedNote.tag === 'important'}"
                        >
                            {{ selectedNote.tag }}
                        </button>
                        <button *ngIf="selectedNote.isFav" type="button" class="text-warning">
                            <icon-star class="fill-warning" />
                        </button>
                    </div>
                </ng-template>
                <ng-template #modalBody>
                    <div class="text-base">{{ selectedNote.description }}</div>

                    <div class="mt-8 ltr:text-right rtl:text-left">
                        <button type="button" class="btn btn-outline-danger" (click)="isViewNoteModal.close()">Close</button>
                    </div>
                </ng-template>
            </modal>
            <modal #showComments class="no-footer">

                <ng-template #modalBody class="">
                    <ng-container *ngIf="!commentList.length">
                        <div class="flex h-full min-h-[400px] items-center justify-center text-lg font-semibold sm:min-h-[300px]">No data available</div>
                    </ng-container>
                    <ng-container *ngIf="commentList.length">
                        <div class="min-h-[400px] sm:min-h-[300px] max-h-[400px]   overflow-auto">
                            <div class="flex flex-col gap-5 ">
                                <ng-container *ngFor="let comment of commentList" >
                                    <div
                                        class="panel pb-12"

                                    >
                                        <div class="">
                                            <div class="flex justify-between">
                                                <div class="flex w-max items-center">
                                                    <div class="flex-none">
                                                        <div *ngIf="comment.thumb" class="rounded-full bg-gray-300 p-0.5 dark:bg-gray-700">
                                                            <img class="h-8 w-8 rounded-full object-cover" [src]="'/assets/images/' + comment.thumb" />
                                                        </div>
                                                        <div
                                                            *ngIf="!comment.thumb && comment.user"
                                                            class="grid h-8 w-8 place-content-center rounded-full bg-gray-300 text-sm font-semibold dark:bg-gray-700"
                                                        >
                                                            {{ comment.user.charAt(0) + comment.user.charAt(comment.user.indexOf(' ') + 1) }}
                                                        </div>
                                                        <div
                                                            *ngIf="!comment.thumb && !comment.user"
                                                            class="grid h-8 w-8 place-content-center rounded-full bg-gray-300 dark:bg-gray-700"
                                                        >
                                                            <icon-user class="h-4.5 w-4.5" />
                                                        </div>
                                                    </div>
                                                    <div class="ltr:ml-2 rtl:mr-2">
                                                        <div class="font-semibold">Bacem jaza</div>
                                                        <div class="text-sx text-white-dark">{{ comment.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
                                                    </div>
                                                </div>
                                                <div hlMenu class="dropdown">
                                                    <button hlMenuButton type="button" class="text-primary">
                                                        <icon-horizontal-dots class="rotate-90 opacity-70 hover:opacity-100" />
                                                    </button>
                                                    <ul *hlMenuItems @toggleAnimation class="text-sm font-medium ltr:right-0 rtl:left-0">
                                                        <li>
                                                            <a href="javascript:;" class="w-full" *hlMenuItem="let menuItem" (click)="editPost(comment)">
                                                                <icon-pencil class="h-4 w-4 shrink-0 ltr:mr-3 rtl:ml-3" />

                                                                Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" class="w-full" *hlMenuItem="let menuItem" (click)="deleteComment(comment.id)">
                                                                <icon-trash-lines class="h-4.5 w-4.5 shrink-0 ltr:mr-3 rtl:ml-3" />
                                                                Delete
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" class="w-full" *hlMenuItem="let menuItem" (click)="viewNote(comment)">
                                                                <icon-eye class="h-4.5 w-4.5 shrink-0 ltr:mr-3 rtl:ml-3" />
                                                                View
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <h4 class="mt-4 font-semibold">{{ comment.content }}</h4>
                                            </div>
                                        </div>
                                        <div class="absolute bottom-5 left-0 w-full px-5">
                                            <div class="mt-2 flex items-center justify-between">
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </ng-template>
            </modal>
        </div>
    </div>
</div>

